.box {
  height: 750px;
  min-height: 750px;
  border: 4px solid #5dd0bb;
  background: #fff;
  display: flex;
  margin-top: 100px;
}

.square {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efcd51;
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
}

.box-1 {
  justify-content: space-between;
  align-items: flex-start;
}

.box-2 {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-4 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.box-5 {
  align-items: flex-start;
  gap: 20px;
}

#square-1 {
  flex-grow: 1;
}
