.space {
  max-width: 800px;
  height: 100%;
  margin: 150px auto;
  border: 4px solid #5dd0bb;
  background: #fff;
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
}

.container-position {
  display: inline-flex;
  padding: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangle-1 {
  position: relative;
  display: flex;
  width: 658px;
  height: 328px;
  justify-content: center;
  align-items: center;
  background: #efcd51;
}

.rectangle-5 {
  display: flex;
  width: 658px;
  height: 328px;
  justify-content: center;
  align-items: center;
  background: #efcd51;
}

.rectangle-3 {
  position: relative;
  top: -44px;
  left: 24px;
  display: flex;
  width: 658px;
  height: 328px;
  justify-content: center;
  align-items: center;
  background: #ef9851;
}

.position-square-2 {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: #ffa8db;
}

.rectangle-4 {
  position: absolute;
  bottom: 10px;
  left: 16px;
  display: flex;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: #ffa8db;
}

.cercle-6 {
  position: fixed;
  bottom: 80px;
  left: 80px;
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  background: #95c4d7;
}
